@import "../main";
@import "../var";

.user-form {
  width: 283px;
  height: 245px;
  border-radius: 10px;
  box-shadow: $btn_shadow;
  margin: 150px auto;
  position: relative;
  background-color: rgb(236, 236, 236);

  &__title {
    color: $text_white;
    padding: 10px;
    background-color: $main_green;
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
  }

  &__block {
    padding: 10px;
    height: 44px;
    display: flex;
    flex-direction: column;
    color: #447e9b;
    margin-bottom: 25px;
  }

  &__error {
    position: absolute;
    color: red;
    bottom: -74px;
  }

  &__input {
    width: 257px;
    border: none;
    border-radius: 15px;
    color: $text_gray;
    padding: 5px 5px 5px 10px;
    height: 28px;
    box-shadow: $input_shadow;
  }

  &__label {
    width: 200px;
    margin-right: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    color: $text_black;
    margin-bottom: 12px;
  }

  &__submit {
    font-size: 16px;
    cursor: pointer;
    height: 28px;
    width: 100px;
    background: $main_green;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: $text_white;
    transition: color .3s;
    position: absolute;
    right: 15px;
    bottom: 15px;
    border-radius: 15px;
    box-shadow: $btn_shadow;
    border: none;

    &:hover {
      transition: color .3s;
      color: $text_black;
    }
  }
}