.admin-panel {
  min-width: 1200px;
  height: 600px;
  background: $text_white;
}

.panel-nav {
  margin-top: 10px;
  color: $text_gray;

  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-navigation {
  padding: 10px;
  width: 350px;
  height: 200px;
  background: rgba(236, 236, 236, 1);
  border-radius: 15px;

  &__item {
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &--title {
      width: 100%;
      background: $main_green;
      border-radius: 15px;
      text-align: center;
      color: $text_white;
    }
  }

  &__text {
    cursor: pointer;
    transition: color .3s;

    &:hover {
      color: $main_green;
      transition: color .3s;
    }
  }
}

.nav-content {
  width: 70%;
  min-height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;

  overflow-y: auto;

  &__columns {
    height: 40px;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    background: $main_green;
    color: $text_white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //height: 28px;
  }

  &__items {
    padding: 10px;
    background: rgba(236, 236, 236, 1);
  }

  &__item {
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
    min-width: 20%;
    text-align: center;

    &--left {
      text-align: left !important;
    }

    &-name {
      min-width: 45%;
      width: 45%;
    }

    &-shortname {
      min-width: 15%;
      width: 15%;
    }

    &-hide {
      min-width: 10%;
      width: 10%;
    }
  }

}

.nav-item {
  width: 100%;

  &__column {
    text-align: center;
    min-width: 20%;

    &--left {
      text-align: left;
    }

    &-name {
      min-width: 45%;
      width: 45%;
    }

    &-shortname {
      min-width: 15%;
      width: 15%;
    }

    &-hide {
      min-width: 10%;
      width: 10%;
    }

    &--edit {
      cursor: pointer;
      transition: color .3s;

      &:hover {
        color: $main_green;
        transition: color .3s;
      }
    }
  }

  &__pos {
    cursor: pointer;
    transition: color .3s;

    &:hover {
      transition: color .3s;
      color: $main_green;
    }
  }
}

.edit-form {
  align-self: center;
  width: 726px;
  display: flex;
  justify-content: space-between;
  background: rgba(236, 236, 236, 1);
  padding: 25px;
  border-radius: 15px;
  position: relative;

  &__delete {
    //align-self: flex-start;
  }

  &--group {
    width: 300px;
    height: 320px;

    .edit-form__user {
      border-right: none;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    padding: 10px;
    width: 250px;
    height: 100px;
    resize: none;
    cursor: pointer;
  }

  &__user {
    //margin-top: 13px;
    width: 50%;
    //height: 284px;
    border-right: 1px solid $text_gray;
  }

  &__block {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 251px;

    &--do {
      margin-top: 20px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &--checker {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__label {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;

    &--checker {
      flex-direction: row;
      margin-right: 168px;
    }
  }

  &__input {
    padding: 5px 5px 5px 10px;
    width: 250px !important;
    height: 28px !important;
    cursor: text;
    margin-bottom: 0 !important;
  }

  &__group {
    cursor: pointer !important;
    transition: color .3s;

    &:hover {
      transition: color .3s;
      color: $main_green;
    }
  }

  &__plot {
    cursor: pointer !important;
    transition: color .3s;

    &:hover {
      transition: color .3s;
      color: $main_green;
    }
  }

  &__submit {
    cursor: pointer;
    //margin-top: 20px;
    //align-self: flex-end;
  }

  &__succ {
    position: absolute;
    color: $main_green;

    &--user {
      bottom: 70px;
      left: 25px;
    }

    &--filter {
      bottom: 80px;
      left: 27px;
    }

    &--group {
      bottom: 80px;
      left: 27px;
    }
  }
}