.modal {
  display: none;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;

  &_content {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: auto;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background: rgba(236, 236, 236, 1);

    &-block {
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: $main_green;
    color: $text_white;
    text-align: center;
    height: 35px;
    border-radius: 15px 15px 0px 0px;
  }

  &__trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    width: 100%;
    height: 100px;
    //background: ;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: $main_green;
    background: $text_white;
  }
}

.modal_vis {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body_block {
  overflow: hidden;
  //margin-right: 15px;
}

.data {
  display: flex;
  height: 350px;
  padding: 15px;
  overflow-y: scroll;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px;

  &__file {
    position: relative;
    width: 260px;
    height: 260px;
    margin-bottom: 60px;
  }
}

.link__preview {
  display: block;
  width: 260px;
  height: 260px;
  margin-bottom: 10px;
}

.file {
  &__preview {
    width: 260px;
    height: 260px;
    //object-fit: cover;
  }

  &__download {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 40px;
    bottom: 5px;
    right: 10px;
    color: $main_green !important;
    transition: color .3s;

    &:hover {
      cursor: pointer;
      color: green !important;
      transition: color .3s;
    }
  }

  &__remove {
    cursor: pointer;
    top: 0px;
    right: 5px;
    position: absolute;
    color: $main_green !important;
    font-size: 26px;
    transform: rotate(45deg);
    transition: color .3s;

    &:hover {
      cursor: pointer;
      color: red !important;
      transition: color .3s;
    }
  }


  &__original {
    position: absolute;
    top: 5px;
    left: 5px;
    color: $main_green !important;
    transition: color .3s;

    &:hover {
      cursor: pointer;
      color: green !important;
      transition: color .3s;
    }
  }

  &__name {
    color: $text_black;
    text-align: center;
  }

  &__all {
    align-self: center;
    width: 170px;
    margin-bottom: 15px;
  }
}