.modal-plan {
  position: relative;

  .confirm__section {
    position: absolute;
    bottom: 0;
  }
}

.modal {
  &-plan__date {

  }

  &-plan {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__today {
      text-align: center;
      align-self: center;
    }

    &__section {
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //align-items: center;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__data {
      display: flex;
      //flex-direction: column;
      justify-content: space-between;
      align-items: center;

      &--center {
        justify-content: center;
      }
    }

    &__input {
      width: 120px;
    }

    &__check {
      display: flex;
      //flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &__exclude {
      text-align: center;
      height: 100px;

      &-option {
        text-align: center;
        padding: 2px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.confirm__title--plan {
  margin-bottom: 5px;
}

.exclude-date {
  background: gray;
}

.modal-plan__exclude {
  height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  overflow-x: scroll;
}

.plan-period {
  &__btn {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  margin-bottom: 10px;
}

.plan-dates {
  display: flex;
  overflow-y: scroll;
  max-height: 72%;
  //justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -2px;
  //min-height: 308px;

  &__item {
    width: 105px;
    padding: 5px;
    background: $text_white;
    margin-bottom: 7px;
    transition: color .3s;
    text-align: center;

    &:hover {
      cursor: pointer;
      transition: color .3s;
      color: #09d009;
    }

    &:not(:last-child) {
      margin-right: 7px;
    }

    &--inplan {
      color: white;
      background: $main_green;
    }

    &--busy {
      border: 1px solid $main_green;
    }
  }
}