.modal_content--route {
  width: 619px;
  height: auto;
}

.route {
  &__config {
    padding: 13px 10px 0;
    background: rgba(236, 236, 236, 1);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.25);
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 10px;
    color: $text_black;
  }

  &-block {
    &__wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__input {
    &:not(:disabled), {
      cursor: pointer;
    }

    &:not(:read-only) {

    }
  }

  &-plan__date {
    border: 1px solid rgba(173, 173, 173, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
    margin-right: 0 !important;
    color: $text_black;
  }

  &__label {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    margin-bottom: 7px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    border: 1px solid rgba(173, 173, 173, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  &__select {
    width: 130px;
    margin-bottom: 10px;
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 1);

    &:disabled {
      background: rgba(255, 255, 255, 1);
    }
  }

  &__input {
    width: 136px;
    height: 28px;
    margin-right: -40px;
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 15px;
    border: none;
    outline: none;

    &:not(:disabled) {
      &:focus {
        outline: 2px solid $main_green;
      }
    }

    &--small {
      width: 80px !important;

      &:not(:last-child) {
        //margin-right: 20px;
      }
    }

    &--top {
      width: 136px;
      text-align: center;
      margin-bottom: 10px;
      height: 28px;
      box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.25) inset;
      border-radius: 15px;
      border: none;
    }

    &--middle {
      width: 155px;
    }
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
}

.report-route__btn {
  //margin-right: 30px;
}

.section-logs {
  width: 100%;
  background: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 8px;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.25);

  &__title {
    text-align: center;
    margin-bottom: 10px;
    color: $button_color;
  }

  &__list {
    height: 85px;
    overflow-y: scroll;
  }

  &__input {
    padding-left: 10px;
  }

  &__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(87, 87, 87, 1);
    margin-bottom: 5px;

    &--system {
      color: $main_green;
    }

    &--error {
      color: rgba(210, 66, 66, 1);
    }

    &--pause {
      color: rgb(224, 108, 0);
    }
  }

  &__comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__input {
    width: 350px;
  }
}

.section-finish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  &__cancel {
    margin-right: 30px;
  }

  &__delete {
    &:hover {
      color: red !important;
    }
  }
}

#quantity,
#day_quantity,
#issued,
#error-route__msg,
#error__time,
#route__issued,
{
  text-align: center;
}

#error-route__msg,
.issued-route__num:not(:disabled) {
  cursor: text;
}

.modal_content--issued {
  width: 250px;
  height: 300px;
}

.comment {
  &__prev {
    //margin: 12px auto 0;
    overflow-y: scroll;
    background: $text_white;
    height: 100%;
    width: 100%;
    //border-radius: 15px;
  }

  &__item {
    color: $text_black;
    font-size: 17px;
    //padding: 10px 13px;
    //padding: 5px 0;
    border-bottom: 1px solid black;
  }
}

.confirm {
  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    margin-top: 10px;
    text-align: center;
    color: $text_black;
    margin-bottom: 25px;
  }

  &__section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    &--ok {
      margin-right: 25px;
    }

    &--search {
      margin-top: 20px;
    }

    margin-bottom: 10px;
  }
}

.progress-block {
  width: 180px;
}

.quantity-block {
  display: flex;
  justify-content: space-between;

  &__labels {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__label {
    margin-right: 47px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
  }

  &__issued {
    position: relative;
    right: -5px;
  }

  &__shifts {
    //margin-right: 33px;
  }

  &__inshifts {
    margin-right: 44px;
    position: relative;
    right: 10px;
  }
}

.route-type {
  &__paused {
    //color: rgba(224, 108, 0, 1) !important;
    border: 2px solid rgba(224, 108, 0, 1);
  }

  &__error {
    //color: rgba(210, 66, 66, 1) !important;
    border: 2px solid rgba(210, 66, 66, 1);
  }

  &__start {
    //color: rgba(24, 136, 217, 1) !important;
    border: 2px solid rgba(24, 136, 217, 1);
  }

  &__finish {
    //color: rgba(0, 130, 29, 1) !important;
    border: 2px solid rgba(0, 130, 29, 1);
  }
}

#route__delete:disabled {
  cursor: default;
  color: gray;

  &:hover {
    color: gray !important;
  }
}

.modal-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(236, 236, 236, 1);
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.25);

  &__input {
    padding-left: 10px;
    margin-top: 20px;
    height: 28px;
    text-align: left !important;
    margin-right: 0;
    width: 90%;
    margin-bottom: 15px;
    background: $text_white;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

.modal-issued {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__date {
    margin-bottom: 10px;
    margin-right: 0;

  }

  &__input {
    margin-right: 0;
    width: 20%;
    height: 28px;
    margin-bottom: 15px;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

.user__block {
  margin-right: 40px;
}

.endtime__block {
  margin-right: 107px;
}

.start-route__btn {
  color: rgba(24, 136, 217, 1);
}

.end-route__btn {
  color: rgba(0, 130, 29, 1);
}

.pause-route__btn {
  color: rgba(224, 108, 0, 1);
}

.error-route__btn {
  color: rgba(210, 66, 66, 1);
}

.section-report {
  justify-content: left;
}

.issued-modal_trigger {
  margin-right: 75px;
}

.send__comment {
  width: 130px;
  border: 2px solid rgba(105, 135, 105, 1);
  color: rgba(105, 135, 105, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.section-finish {
  &__sub {
    border-radius: 15px;
    width: 130px;
    height: 40px;
    border: none;
    background: rgba(105, 135, 105, 1);
    color: $text_white;
  }

  &__delete {
    border: none;
    background: none;
    color: rgba(210, 66, 66, 1);
    cursor: pointer;
  }
}

.issued-top {
  display: flex;
  align-items: center;

  &__item {
    padding: 5px 0;
    width: 39%;

    &:not(:last-child) {
      border-right: 1px solid black;
    }

    &--date {
      width: 120px;
    }

    &--summary {
      width: 80px;
    }
  }
}
