.modal_content--route {
  width: 615px;
  height: auto;
}

.route {
  &__config {
    padding: 0 10px;
  }

  &-block {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__input {
    &:not(:disabled), {
      cursor: pointer;
    }

    &:not(:read-only) {

    }
  }

  &-plan__date {
    margin-right: 0 !important;
  }

  &__label {
    text-align: center;
  }

  &__btn {
    width: 170px;
  }

  &__select {
    width: 170px;
    margin-bottom: 10px;
  }

  &__input {
    width: 170px;
    margin-right: 30px;

    &--small {
      width: 48%;

      &:not(:last-child) {
        margin-right: 2%;
      }
    }

    &--top {
      text-align: center;
      margin-bottom: 10px;
      height: 28px;
    }
  }

  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
}

.report-route__btn {
  //margin-right: 30px;
}

.section-logs {
  width: 100%;
  background: $gray_bg;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 30px;

  &__title {
    text-align: center;
    margin-bottom: 10px;
    color: $button_color;
  }

  &__list {
    margin-bottom: 30px;
    height: 85px;
    overflow-y: scroll;
  }

  &__item {
    color: $hover_aqua;
    margin-bottom: 5px;
  }

  &__comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__input {
    width: 350px;
  }
}

.section-finish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  &__cancel {
    margin-right: 30px;
  }

  &__delete {
    &:hover {
      color: red !important;
    }
  }
}

#quantity,
#day_quantity,
#issued,
#error-route__msg,
#error__time,
#route__issued,
{
  text-align: center;
}

#error-route__msg,
.issued-route__num:not(:disabled) {
  cursor: text;
}

.modal_content--issued {
  width: 250px;
  height: 300px;
}

.comment {
  &__title {
    color: $button_color;
    text-align: center;
    margin-bottom: 30px;
  }

  &__prev {
    overflow-y: scroll;
    background: $gray_bg;
    height: 100%;
  }

  &__item {
    color: $hover_aqua;
    font-size: 17px;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}

.confirm {
  &__title {
    margin-top: 10px;
    text-align: center;
    color: $button_color;
    margin-bottom: 25px;
  }

  &__section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    &--ok {
      margin-right: 25px;
    }

    margin-bottom: 10px;
  }
}

.progress-block {
  width: 170px;
}

.quantity-block {
  display: flex;

  &__labels {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__label {
    margin-right: 35px;
  }

  &__shifts {
    //margin-right: 33px;
  }

  &__inshifts {
    margin-right: 22px;
    position: relative;
    right: 13px;
  }
}

.route-type {
  &__paused {
    border: 2px solid orange;
  }

  &__error {
    border: 2px solid red;
  }

  &__start {
    border: 2px solid #ffff4e;
  }

  &__finish {
    border: 2px solid green;
  }
}

#route__delete:disabled {
  cursor: default;
  color: gray;

  &:hover {
    color: gray !important;
  }
}

.modal-error {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    margin-right: 0;
    width: 90%;
    height: 50px;
    margin-bottom: 15px;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

.modal-issued {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__date {
    margin-bottom: 10px;
    margin-right: 0;
  }

  &__input {
    margin-right: 0;
    width: 20%;
    height: 28px;
    margin-bottom: 15px;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}