@import "../var";

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $main_green;
  //border: 1px solid black;
  border: $btn_border;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  padding: 5px 30px;
  height: 49px;
  //margin-bottom: 30px;

  &__title {
    //min-width: 330px;
    position: relative;
    font-size: 27px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: $text_white;
    margin-right: 10px;

    //&--plan {
    //  min-width: 280px;
    //}
    //
    //&--report {
    //  min-width: 240px;
    //}
  }

  &__nav {
    display: flex;
    align-items: center;
    //width: 400px;
  }

  &__button {
    transition: color .3s;
    border-radius: 0;
    border: none;
    border-left: 1px solid rgb(203, 203, 203);
    box-shadow: none;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 7px 3px;
    background-color: rgba(255, 255, 255, 0.9);

    &:last-child {
      border-right: 1px solid rgb(203, 203, 203);
    }

    &:hover {
      transition: color .3s;
      color: $main_green;
    }

    &:not(:last-child) {
      //margin-right: 10px;
    }
  }
}

.header-routes {
  &__filter {
    height: 48px;
    border: none;
    border-right: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: white;
    border-right: 1px solid rgb(203, 203, 203);
    transition: all .3s linear;
    color: rgb(66, 66, 66);
    //
    //&:not(:last-child) {
    //  margin-right: 10px;
    //}


    &:hover {
      color: $main_green !important;
      transition: all .3s linear;
    }

    &--select {
      margin-bottom: 0;
      //height: 27px;
      padding: 0;
    }
  }

  &__planned {
    &-date {
      width: 140px;
    }
  }
}

#search__target {
  width: 120px !important;
  margin-right: 5px;
}

#search__input {
  height: 28px;
  margin-right: 5px;
}

.route__filter--chosen {
  border: 1px solid $text_white;
  color: $text_white;
  background: $main_green;
}

.header-button__add {
  border: none;
  box-shadow: none;
  border-radius: 0;
  height: 48px;
  background-color: transparent;
  transition: color, background-color 0.3s;
  //border-right: 1px solid rgb(203, 203, 203);
  //border-left: 1px solid rgb(203, 203, 203);
  font-weight: bold;
  font-size: 21px;
  line-height: 19px;

  &:hover {
    color: white;
    transition: color, background-color 0.3s;
    //background-color: $main_green;
  }
}
//
//#header-control__btn-archive {
//  width: 70px;
//}

//header-control__btn-delete

#header-control__btn {
  &-copy {
    .copy {
      width: 22px;
      height: 24px;
      transform: translateY(1px);
      fill: rgb(66, 66, 66);
      transition: background-color, fill .3s linear;
    }

    &:hover  {
      background-color: gray;

      .copy {
        transition: background-color, color .3s linear;
        fill: white;
      }
    }
  }

  &-delete{
    &:hover  {
      background-color: red;
    }
  }

  &-archive {
    &:hover  {
      background-color: green;
    }
  }
}