@import "../main";
@import "top_filters";
@import "table_nav";
@import "files_modal";
@import "route_modal";
@import "comments_modal";

.main-table {
  &__header {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    //border: 1px solid black;
    //border-top: none;
  }

  &__item {
    display: flex;
    align-items: center;
  }
}

input.table__data {
  padding: 0 10px;
}

input.tr {
  padding: 0;
}

.table {
  &__cell {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: default;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: white;

    &:not(:last-child) {
      border-right: 1px solid black;
    }
  }

  &:last-child {
    border-right: none;
  }

  &-form {

    input {
      //color: $button_color;
    }
  }

  &__use {
    label {
      cursor: pointer;
      transition: color .3s;

      &:hover {
        color: $hover_aqua;
        transition: color .3s;
      }
    }
  }

  &__data {
    height: 28px;
    width: 100%;
    text-align: center;
    border-radius: 1px;
    border: none;
    background: white;
    color: black;
    outline: 3.3px $button_color;
    position: relative;

    &--ro {
      cursor: default;
      outline: none;
    }

    &--chosen {
      font-size: 15px;
      background: $gray_bg;
      color: $button_color;
    }

    &--opened {
      height: 56px;
      border-bottom: 1px solid black;
      font-size: 15px;
      background: #f3efef;
      color: #447e9b;
    }

    &--current {
      color: $hover_aqua;
      text-decoration: underline;
      font-style: italic;
      //font-size: 16px;
    }
  }

  &__db {
    display: flex;
    min-width: 70px;
    max-width: 70px;
  }

  &__timestamp {
    min-width: 100px;
    max-width: 100px;
  }

  &__files {
    min-width: 32px;
    max-width: 32px;
    position: relative;
  }

  &__number {
    min-width: 80px;
    max-width: 80px;
  }

  &__sample {
    min-width: 60px;
    max-width: 60px;
  }

  &__client {
    min-width: 160px;
    max-width: 160px;
  }

  &__name {
    min-width: 260px;
    max-width: 260px;
  }

  &__material {
    min-width: 140px;
    max-width: 140px;
  }

  &__quantity {
    min-width: 70px;
    max-width: 70px;
  }

  &__issued {
    min-width: 70px;
    max-width: 70px;
    border-right: 1px solid black !important;

    &--done {
      color: green;
      animation: issued-ready infinite 4s;
    }
  }

  &__complete {
    border-right: none !important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    input {
      height: 26px;
    }
  }

  &__m {
    min-width: 36px;
    max-width: 36px;
  }

  &__endtime {
    min-width: 130px;
    max-width: 130px;
  }

  &__route {
    &:last-child {
      border-right: 1px solid black !important;
    }
  }

  &__routes {
    min-width: 400px;
    max-width: 400px;
  }

  &-routes__issued {
    //border-top: 1px solid black;
  }

  &__p {
    min-width: 60px;
    max-width: 60px;
  }

  &-p-select,
  &-m-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }

  &__comment {
    flex-grow: 1;
    min-width: 200px;
    max-width: 100%;
  }

  &-routes {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.files__ico {
  width: 30px;
  height: 20px;
}

.table-body {
  &__trattr {
    position: relative;

    &:hover:after {
      box-sizing: border-box;
      min-width: 300%;
      width: auto;
      text-align: center;
      content: attr(data-title);
      position: absolute; /* Абсолютное позиционирование */
      left: 0;
      top: 130%; /* Положение подсказки */
      z-index: 1; /* Отображаем подсказку поверх других элементов */
      background: rgba(255, 255, 230, 0.9); /* Полупрозрачный цвет фона */
      font-family: Arial, sans-serif; /* Гарнитура шрифта */
      font-size: 11px; /* Размер текста подсказки */
      padding: 5px 5px; /* Поля */
      border: 1px solid #333;
    }
  }

  &__attr {
    position: relative;

    &:hover:after {
      box-sizing: border-box;
      min-width: 100%;
      text-align: center;
      content: attr(data-title);
      position: absolute; /* Абсолютное позиционирование */
      left: 0;
      top: 130%; /* Положение подсказки */
      z-index: 1; /* Отображаем подсказку поверх других элементов */
      background: rgba(255, 255, 230, 0.9); /* Полупрозрачный цвет фона */
      font-family: Arial, sans-serif; /* Гарнитура шрифта */
      font-size: 11px; /* Размер текста подсказки */
      padding: 5px 5px; /* Поля */
      border: 1px solid #333;
    }
  }


  &_cell {
    max-height: 56px;
    font-size: 16px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    &:last-child {
      border-right: none;
    }

    &--opened {
      height: 56px;
    }
  }
}

@keyframes issued-ready {
  0% {
    background: white;
    color: black;
  }

  50% {
    background: green;
    color: white;
  }

  100% {
    background: white;
    color: black;
  }
}

.table__route {
  &:first-child {
    border-left: none;
  }

  &--issued {
    border-top: none;
    max-height: 28px;

    &:last-child {
      border-right: 1px solid black;
    }

    &:first-child {
      border-left: none;
    }

    input {
      height: 26px;
    }
  }
}

.route {
  color: black;

  &--started {
    background: #ffff4e;
  }

  &--error {
    background: #de1313;
  }

  &--completed {
    background: #09d009;
  }
}

.table-info {
  display: flex;
  align-items: center;
}

.order__delete {
  width: 20px;
  border: none;
  background: red;
  transition: color .3s;

  &:hover {
    cursor: pointer;
    transition: color .3s;
    color: white;
  }
}

