@import "../main";
@import "top_filters";
@import "table_nav";
@import "files_modal";
@import "route_modal";
@import "comments_modal";
@import "planModal";
@import "adminPanel";

.main-table {
  &__header {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    //border: 1px solid black;
    //border-top: none;
  }

  &__item {
    display: flex;
    align-items: center;

    &-form {
      color: $text_gray;
    }
  }
}

input.table__data {
  padding: 0 10px;

  &--compl {
    background: green;
    color: white;
  }
}

input.tr {
  padding: 0;
}

.table {

  &__cell {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    border-top: $btn_border;
    border-bottom: $btn_border;
    background: white;
    color: $table_text;

    &:not(:last-child) {
      border-right: $btn_border;
    }

    &--top {
      background: rgba(156, 156, 156, 1) !important;
      //color: white;
      //background: $table_bg !important;
    }
  }

  &:last-child {
    border-right: none;
  }

  &-form {

    input {
      //color: $button_color;
    }
  }

  &__use {
    label {
      cursor: pointer;
      transition: color .3s;

      &:hover {
        color: $main_green;
        transition: color .3s;
      }
    }
  }

  &__data {
    font-size: 14px;
    font-weight: 400;
    height: 28px;
    width: 100%;
    text-align: center;
    border-radius: 1px;
    border: none;
    background: transparent;
    color: inherit;
    outline: 3.3px $button_color;
    position: relative;

    &--ro {
      cursor: default;
      outline: none;
    }

    &--chosen {
      //font-size: 15px;
      background: $table_bg_main;
      color: $table_text;
    }

    &--opened {
      height: 56px;
      font-size: 15px;
      background: $table_bg_main;
      color: $table_text;
      border-bottom: $btn_border;
    }

    //&--opened.table__data--current {
    //  border-bottom: 2px solid black;
    //}

    &--current {
      font-weight: 600;
      color: $table_text;
      border: 2px solid black;
      //font-size: 16px;
    }
  }

  &__db {
    display: flex;
    min-width: 70px;
    max-width: 70px;
  }

  &__timestamp {
    min-width: 110px;
    max-width: 110px;

    &--time {
      min-width: 150px;
      max-width: 150px;
    }
  }

  &__files {
    min-width: 45px;
    max-width: 45px;
    position: relative;
  }

  &__number {
    min-width: 120px;
    max-width: 120px;
  }

  &__sample {
    min-width: 60px;
    max-width: 60px;
  }

  &__client {
    min-width: 160px;
    max-width: 160px;
  }

  &__name {
    min-width: 260px;
    max-width: 260px;
  }

  &__material {
    min-width: 140px;
    max-width: 140px;
  }

  &__quantity {
    min-width: 70px;
    max-width: 70px;
  }

  &__issued {
    min-width: 70px;
    max-width: 70px;
    border-right: $btn_border !important;

    &--done {
      color: green;
      font-size: 16px;
      font-weight: 600;
      //animation: issued-ready infinite 4s;
    }
  }

  &__complete {
    border-right: none !important;
    border-top: $btn_border;
    border-bottom: $btn_border;

    input {
      height: 26px;
    }
  }

  &__m {
    min-width: 36px;
    max-width: 36px;
  }

  &__endtime {
    min-width: 140px;
    max-width: 140px;

    &--dead {
      color: red;
      font-size: 15px;
    }
  }

  &__route {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    width: 50px;

    &:last-child {
      border-right: $btn_border !important;
    }
  }

  &__routes {
    min-width: 500px;
    max-width: 500px;
  }

  &-routes__issued {
    //border-top: 1px solid black;
  }

  &__p {
    min-width: 60px;
    max-width: 60px;
  }

  &-p-select,
  &-m-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }

  &__comment {
    flex-grow: 1;
    min-width: 200px;
    max-width: 100%;

    &--top {
      flex-grow: 1;
      min-width: 200px;
      max-width: 100%;
    }
  }

  &-routes {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 28px;
    }
  }
}

.files__ico {
  width: 30px;
  height: 20px;
}

.table-body {
  //&__trattr {
  //  position: relative;
  //
  //  &:hover:after {
  //    box-sizing: border-box;
  //    min-width: 260%;
  //    width: auto;
  //    text-align: center;
  //    content: attr(data-title);
  //    position: absolute; /* Абсолютное позиционирование */
  //    left: 0;
  //    top: 130%; /* Положение подсказки */
  //    z-index: 1; /* Отображаем подсказку поверх других элементов */
  //    background: rgba(255, 255, 230, 0.9); /* Полупрозрачный цвет фона */
  //    font-family: Arial, sans-serif; /* Гарнитура шрифта */
  //    font-size: 11px; /* Размер текста подсказки */
  //    padding: 5px 5px; /* Поля */
  //    border: 1px solid #333;
  //  }
  //}
  //
  //&__attr {
  //  position: relative;
  //
  //  &:hover:after {
  //    box-sizing: border-box;
  //    min-width: 100%;
  //    text-align: center;
  //    content: attr(data-title);
  //    position: absolute; /* Абсолютное позиционирование */
  //    left: 0;
  //    top: 130%; /* Положение подсказки */
  //    z-index: 1; /* Отображаем подсказку поверх других элементов */
  //    background: rgba(255, 255, 230, 0.9); /* Полупрозрачный цвет фона */
  //    font-family: Arial, sans-serif; /* Гарнитура шрифта */
  //    font-size: 11px; /* Размер текста подсказки */
  //    padding: 5px 5px; /* Поля */
  //    border: 1px solid #333;
  //  }
  //}


  &_cell {
    max-height: 56px;
    font-size: 16px;
    border-right: $btn_border;
    border-bottom: $btn_border;
    position: relative;

    &:last-child {
      border-right: none;
    }

    &--opened {
      height: 56px;
    }

    &--flex {
      display: flex;
    }
  }
}

@keyframes issued-ready {
  0% {
    background: white;
    color: black;
  }

  50% {
    background: green;
    color: white;
  }

  100% {
    background: white;
    color: black;
  }
}

.table__route {
  &:first-child {
    border-left: none;
  }

  &--date {
    flex-grow: 1;
    //overflow: auto;
    //width: 100%;
  }

  &--issued {
    border-top: none;
    max-height: 28px;

    &:last-child {
      border-right: $btn_border;
    }

    &:first-child {
      border-left: none;
    }

    input {
      height: 26px;
    }
  }
}

.route {
  color: rgb(107, 102, 102);;
  height: 24px;
  width: 48px;
  border-radius: 15px;
  border: 2px solid transparent;

  &--inplan {
    //border-top: 2px solid $text_gray;
    //border-bottom: 2px solid $text_gray;
    //border-right: 2px solid $text_gray;
    //border-left: 2px solid $text_gray !important;
    //background: rgb(197 195 195);
    background: rgb(181 173 173);
    //background: rgb(213 220 213);

    .route {
      background: white;
      border-radius: 15px;
    }
  }

  &--planned {
    //text-decoration: underline;
    //font-style: italic;
  }

  &--paused {
    border: 2px solid #51a5e3;
    background: white;
    //color: white !important;
    //border-radius: 15px;
  }

  &--error {
    color: white !important;
    background: rgba(210, 66, 66, 1) !important;
    //border-radius: 15px;
  }

  &--started {
    background: white !important;
    border: 2px solid #e06c00;
    //border-radius: 15px;
  }

  &--completed {
    background: white !important;
    border: 2px solid rgba(0, 130, 29, 1);
    //border-radius: 15px;
  }
}

.table-info {
  display: flex;
  align-items: center;
}

.order__copy {
  width: 10px;
  border: none;
  color: $text_black;
  background: rgb(156, 156, 156) !important;
  transition: color .3s;

  &:hover {
    cursor: pointer;
    transition: color .3s;
    color: white;
  }
}

.order__delete {
  width: 20px;
  border: none;
  background: red;
  transition: color .3s;

  &:hover {
    cursor: pointer;
    transition: color .3s;
    color: white;
  }
}

.table {
  &__issued--report {
    min-width: 105px;
    max-width: 105px;
  }

  &__plan--report {
    min-width: 105px;
    max-width: 105px;
  }

  &__plan--shift {
    min-width: 73px;
    max-width: 73px;
  }

  &__plan--need-shift {
    min-width: 100px;
    max-width: 100px;
  }

  &__plan--adj {
    min-width: 90px;
    max-width: 90px;
  }

  &__plan--theoradj {
    min-width: 100px;
    max-width: 100px;
  }

  &__plan--percent {
    min-width: 80px;
    max-width: 80px;
  }

  &__shift--report {
    min-width: 75px;
    max-width: 75px;
  }

  //&__plan--shift {
  //  min-width: 65px;
  //  max-width: 65px;
  //}

  &__route--report {
    min-width: 75px;
    max-width: 75px;
  }

  &__route--date {
    //border-right: 1px solid black;
    //min-width: 750px;

    &__list {
      display: flex;
      align-items: center;
    }

    &__item {
      margin-right: 5px;
      height: 28px
    }
  }

  &__operator--report {
    min-width: 95px;
    max-width: 95px;
  }

  &__issued-plan--report {
    min-width: 120px;
    max-width: 120px;
  }
}