@import "../var";

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $main_green;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  padding: 5px 30px;
  height: 49px;
  //margin-bottom: 30px;

  &__title {
    position: relative;
    top: -1px;
    font-size: 27px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: $text_white;
    margin-right: 20px;
  }

  &__nav {
    display: flex;
    align-items: center;
    //width: 400px;
  }

  &__button {
    transition: color .3s;

    &:hover {
      transition: color .3s;
      color: $main_green;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.header-routes {
  &__filter {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__planned {
    &-date {
      width: 140px;
    }
  }
}

#search__target {
  width: 120px !important;
  margin-right: 5px;
}

#search__input {
  height: 28px;
  margin-right: 5px;
}

.route__filter--chosen {
  border: 1px solid $text_white;
  color: $text_white;
  background: $main_green;
}