@import "../main";
@import "top_filters";
@import "table_nav";
@import "files_modal";
@import "route_modal";
@import "comments_modal";
@import "planModal";
@import "adminPanel";

.main-table {
  &__header {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    //border: 1px solid black;
    //border-top: none;
  }

  &__item {
    display: flex;
    align-items: center;
  }
}

input.table__data {
  padding: 0 10px;
}

input.tr {
  padding: 0;
}

.table {
  &__cell {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: white;
    color: $table_text;

    &:not(:last-child) {
      border-right: 1px solid black;
    }

    &--top {
      background: rgba(156, 156, 156, 1) !important;
      //color: white;
      //background: $table_bg !important;
    }
  }

  &:last-child {
    border-right: none;
  }

  &-form {

    input {
      //color: $button_color;
    }
  }

  &__use {
    label {
      cursor: pointer;
      transition: color .3s;

      &:hover {
        color: $main_green;
        transition: color .3s;
      }
    }
  }

  &__data {
    font-size: 14px;
    font-weight: 400;
    height: 28px;
    width: 100%;
    text-align: center;
    border-radius: 1px;
    border: none;
    background: white;
    color: black;
    outline: 3.3px $button_color;
    position: relative;

    &--ro {
      cursor: default;
      outline: none;
    }

    &--chosen {
      //font-size: 15px;
      background: $table_bg_main;
      color: $table_text;
    }

    &--opened {
      height: 56px;
      font-size: 15px;
      background: $table_bg_main;
      color: $table_text;
      border-bottom: 1px solid black;
    }

    &--opened.table__data--current {
      border-bottom: 2px solid black;
    }

    &--current {
      font-weight: 600;
      color: $table_text;
      border: 1px solid black;
      //font-size: 16px;
    }
  }

  &__db {
    display: flex;
    min-width: 70px;
    max-width: 70px;
  }

  &__timestamp {
    min-width: 100px;
    max-width: 100px;
  }

  &__files {
    min-width: 32px;
    max-width: 32px;
    position: relative;
  }

  &__number {
    min-width: 80px;
    max-width: 80px;
  }

  &__sample {
    min-width: 60px;
    max-width: 60px;
  }

  &__client {
    min-width: 160px;
    max-width: 160px;
  }

  &__name {
    min-width: 260px;
    max-width: 260px;
  }

  &__material {
    min-width: 140px;
    max-width: 140px;
  }

  &__quantity {
    min-width: 70px;
    max-width: 70px;
  }

  &__issued {
    min-width: 70px;
    max-width: 70px;
    border-right: 1px solid black !important;

    &--done {
      color: green;
      animation: issued-ready infinite 4s;
    }
  }

  &__complete {
    border-right: none !important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    input {
      height: 26px;
    }
  }

  &__m {
    min-width: 36px;
    max-width: 36px;
  }

  &__endtime {
    min-width: 140px;
    max-width: 140px;
  }

  &__route {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    width: 45px;

    &:last-child {
      border-right: 1px solid black !important;
    }
  }

  &__routes {
    min-width: 450px;
    max-width: 450px;
  }

  &-routes__issued {
    //border-top: 1px solid black;
  }

  &__p {
    min-width: 60px;
    max-width: 60px;
  }

  &-p-select,
  &-m-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }

  &__comment {
    flex-grow: 1;
    min-width: 200px;
    max-width: 100%;
  }

  &-routes {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 28px;
    }
  }
}

.files__ico {
  width: 30px;
  height: 20px;
}

.table-body {
  //&__trattr {
  //  position: relative;
  //
  //  &:hover:after {
  //    box-sizing: border-box;
  //    min-width: 260%;
  //    width: auto;
  //    text-align: center;
  //    content: attr(data-title);
  //    position: absolute; /* Абсолютное позиционирование */
  //    left: 0;
  //    top: 130%; /* Положение подсказки */
  //    z-index: 1; /* Отображаем подсказку поверх других элементов */
  //    background: rgba(255, 255, 230, 0.9); /* Полупрозрачный цвет фона */
  //    font-family: Arial, sans-serif; /* Гарнитура шрифта */
  //    font-size: 11px; /* Размер текста подсказки */
  //    padding: 5px 5px; /* Поля */
  //    border: 1px solid #333;
  //  }
  //}
  //
  //&__attr {
  //  position: relative;
  //
  //  &:hover:after {
  //    box-sizing: border-box;
  //    min-width: 100%;
  //    text-align: center;
  //    content: attr(data-title);
  //    position: absolute; /* Абсолютное позиционирование */
  //    left: 0;
  //    top: 130%; /* Положение подсказки */
  //    z-index: 1; /* Отображаем подсказку поверх других элементов */
  //    background: rgba(255, 255, 230, 0.9); /* Полупрозрачный цвет фона */
  //    font-family: Arial, sans-serif; /* Гарнитура шрифта */
  //    font-size: 11px; /* Размер текста подсказки */
  //    padding: 5px 5px; /* Поля */
  //    border: 1px solid #333;
  //  }
  //}


  &_cell {
    max-height: 56px;
    font-size: 16px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;

    &:last-child {
      border-right: none;
    }

    &--opened {
      height: 56px;
    }
  }
}

@keyframes issued-ready {
  0% {
    background: white;
    color: black;
  }

  50% {
    background: green;
    color: white;
  }

  100% {
    background: white;
    color: black;
  }
}

.table__route {
  &:first-child {
    border-left: none;
  }

  &--issued {
    border-top: none;
    max-height: 28px;

    &:last-child {
      border-right: 1px solid black;
    }

    &:first-child {
      border-left: none;
    }

    input {
      height: 26px;
    }
  }
}

.route {
  color: black;
  height: 24px;
  width: 42px;

  &--inplan {
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 1px solid black !important;
  }

  &--planned {
    //text-decoration: underline;
    //font-style: italic;
  }

  &--paused {
    background: rgba(224, 108, 0, 1);
    color: white !important;
    border-radius: 15px;
  }

  &--error {
    color: white !important;
    background: rgba(210, 66, 66, 1);
    border-radius: 15px;
  }

  &--started {
    background: white !important;
    border: 2px solid rgba(81, 165, 227, 1);
    border-radius: 15px;
  }

  &--completed {
    background: white !important;
    border: 2px solid rgba(0, 130, 29, 1);
    border-radius: 15px;
  }
}

.table-info {
  display: flex;
  align-items: center;
}

.order__delete {
  width: 20px;
  border: none;
  background: red;
  transition: color .3s;

  &:hover {
    cursor: pointer;
    transition: color .3s;
    color: white;
  }
}

.table {
  &__issued--report {
    min-width: 105px;
    max-width: 105px;
  }

  &__plan--report {
    min-width: 105px;
    max-width: 105px;
  }

  &__route--report {
    min-width: 65px;
    max-width: 65px;
  }

  &__operator--report {
    min-width: 95px;
    max-width: 95px;
  }

  &__issued-plan--report {
    min-width: 120px;
    max-width: 120px;
  }
}