.nav-filters {
  width: 77%;
  position: relative;
  height: 113px;
  background: white;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.25);

  //border: 1px solid black;
  border: $btn_border;
  border-radius: 15px;
  padding: 5px 25px;

  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1920px) {
    width: 82%;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    //&:not(:last-child) {
    //  padding-bottom: 15px;
    //  margin-bottom: 5px;
    //}
  }

  &__item {
    margin-bottom: 7px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__button {
    &--chosen {
      background: $main_green;
      color: $text_white;
    }
  }
}

.nav-filters {
  //&__item {
  //  min-width: 70px;
  //  width: auto;
  //  height: 27px;
  //}

  &__button {
    outline: none !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
    width: auto;
    max-width: 100%;
    height: 27px;
    white-space: nowrap;
  }

  &__plots {
    margin-top: 10px;
    border-bottom: $btn_border;
    margin-bottom: 6px;
    padding-bottom: 8px;
      //margin-bottom: 5px;
  }

  &__filters {
    flex-wrap: wrap;
    height: 50px;
    margin-top: 7px;
    margin-bottom: 0 !important;
    overflow-y: auto;
  }

  &__reset {
    position: absolute;
    bottom: -28px;
    width: 161px;
    display: block;
    align-self: center;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.nav-control {
  position: relative;
  width: 313px;
  height: 113px;
  //border: 1px solid black;
  border: $btn_border;
  border-radius: 15px;
  padding: 20px 20px 10px;
  background: white;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.25);

  &__group {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
  }

  &--opened {
    z-index: 1000;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__nav {
    display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $btn_border_color;
    margin-bottom: 5px;
  }

  &__left {
    width: 200px;
  }

  &__admin {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    cursor: pointer;
    transition: color .3s;
    color: $text_gray;

    &:hover {
      transition: color .3s;
      color: $main_green;
    }
  }

  &__user {
    display: flex;
    margin-bottom: 7px;
  }

  &__name {
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    color: rgba(76, 88, 102, 1);
    margin-right: 7px;
  }

  &__exit {
    button {
      color: rgba(210, 66, 66, 1);
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0em;
      cursor: pointer;
    }
  }

  &__search {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: $main_green;

    &-btn {
      &:hover {
        svg {
          fill: green;
        }
      }
    }
  }

  &__routes {
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom: 2px solid $btn_border_color;
  }

  &__route {

    &-link {
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0em;
      cursor: pointer;
      color: $text_gray;

      &:hover {
        color: $main_green;
      }

      &--current {
        text-decoration: underline;
        color: $main_green;
      }
    }
  }

  &__burger {
    position: relative;
    top: -5px;
    cursor: pointer;

    &-item {
      display: block;
      width: 40px;
      height: 5px;
      background: $text_gray;
      border-radius: 15px;
      //color: rgba(0, 0, 0, 0.14);

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }
}

.search-orders {
  &__label {

  }

  &__input {
    margin-right: 0 !important;
    padding-left: 9px;
    width: 170px !important;
    cursor: text !important;
  }
}

.header-button__reset {
  margin-right: 35px;
}