.nav-filters {
  margin-top: 10px;
  margin-bottom: 15px;
  position: relative;

  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 25px;

  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__button {
    &--chosen {
      background: $gray_bg;
      color: $hover_aqua;
    }
  }
}

.nav-filters {
  &__plots {
    margin-top: 15px;
    border-bottom: 1px solid black;
  }
  &__filters {
    margin-bottom: 0 !important;
  }

  &__reset {
    width: 131px;
    display: block;
    align-self: center;
  }
}