.nav-filters {
  margin-top: 15px;
  margin-bottom: 30px;

  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 25px;

  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      padding-bottom: 12px;
      margin-bottom: 12px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__button {
    &--chosen {
      background: $gray_bg;
      color: $hover_aqua;
    }
  }
}

.nav-filters {
  &__plots {
    border-bottom: 1px solid black;
  }
}