<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="icon" href="favicon.png" type="image/png">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
</head>
<body>
<div class="container">
    <header class="header">
        <nav class="header__nav nav">
            <div class="nav__filters nav-filters">
                <ul class="nav-filters__list nav-filters__plots"></ul>
                <ul class="nav-filters__list nav-filters__filters"></ul>
            </div>
            <div class="nav__control nav-control">
                <div class="nav-control__nav">
                    <div class="nav-control__left">
                        <div class="nav-control__group">

                        </div>
                        <div class="nav-control__user">
                            <div class="nav-control__name">SuperAdmin</div>
                            <div class="nav-control__exit">
                                <button tabindex="-1" class="admin-form__exit">
                                    Выход
                                    <span class="hidden__input"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="nav-control__burger">
                        <span class="nav-control__burger-item"></span>
                        <span class="nav-control__burger-item"></span>
                        <span class="nav-control__burger-item"></span>
                    </div>
                </div>

                <ul class="nav-control__routes hidden__input">
                    <li class="nav-control__route">
                        <button tabindex="-1" class="nav-control__route-link link__main">
                            Главная
                            <input tabindex="-1" class="hidden__input" value="/main/table"/>
                        </button>
                    </li>
                    <li class="nav-control__route">
                        <button tabindex="-1" class="nav-control__route-link link__archive">
                            Архив
                            <input tabindex="-1" class="hidden__input" value="/main/table"/>
                        </button>
                    </li>
                    <li class="nav-control__route">
                        <button tabindex="-1" class="nav-control__route-link link__plan">
                            Планирование
                            <input tabindex="-1" class="hidden__input" value="/main/plan"/>
                        </button>
                    </li>
                    <li class="nav-control__route">
                        <button tabindex="-1" class="nav-control__route-link link__report">
                            План/Факт
                            <input tabindex="-1" class="hidden__input" value="/main/report"/>
                        </button>
                    </li>
                    <li class="nav-control__route nav-control__admin hidden-input">
                        Администрирование
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <form class="test__form" action="">
        <ul class="test__list">
            <li class="test__item">
                <input tabindex="-1" class="test__input" type="text">
            </li>
        </ul>
    </form>

    <main class="main">
        <header class="main__header main-header">
            <div class="main-header__nav">
                <h3 class="main-header__title">Журнал заказов</h3>
                <div class="header-control__content">
                    <button data-title='Добавить заказ' tabindex="-1" class="main__button--click header-button__add">
                        <div class="header-button__add-center">+</div>
                    </button>
                    <button data-title='Копировать' id="header-control__btn-copy" tabindex="-1"
                            class="main__button--click hidden-input header-control__content-btn">
                        <svg class="copy" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                            <defs>
                                <style>.cls-1</style>
                            </defs>
                            <!--                            <title>Копировать</title>-->
                            <path class="cls-1"
                                  d="M75,80H29.31a5,5,0,0,1-3.53-8.54L71.46,25.78A5,5,0,0,1,80,29.31V75A5,5,0,0,1,75,80ZM41.38,70H70V41.38Z"/>
                            <path class="cls-1"
                                  d="M105.85,155H29.31a5,5,0,0,1-5-5V75a5,5,0,0,1,10,0v70h71.54A14.17,14.17,0,0,0,120,130.85V34.31H75a5,5,0,1,1,0-10h50a5,5,0,0,1,5,5V130.85A24.17,24.17,0,0,1,105.85,155Z"/>
                            <path class="cls-1"
                                  d="M151.54,175.69H75a5,5,0,0,1-5-5V150a5,5,0,0,1,10,0v15.69h71.54a14.17,14.17,0,0,0,14.15-14.15V54.81H125a5,5,0,0,1,0-10h45.69a5,5,0,0,1,5,5V151.54A24.17,24.17,0,0,1,151.54,175.69Z"/>
                            <path class="cls-1" d="M100,105H50a5,5,0,0,1,0-10h50a5,5,0,0,1,0,10Z"/>
                            <path class="cls-1" d="M100,129.91H50a5,5,0,0,1,0-10h50a5,5,0,0,1,0,10Z"/>
                            <path class="cls-1" d="M150,129.91H125a5,5,0,0,1,0-10h25a5,5,0,0,1,0,10Z"/>
                            <path class="cls-1" d="M150,105H125a5,5,0,0,1,0-10h25a5,5,0,0,1,0,10Z"/>
                        </svg>
                        <!--                            Копировать-->
                    </button>
                    <button data-title='Удалить' id="header-control__btn-delete" tabindex="-1"
                            class="main__button--click hidden-input header-control__content-btn">
                        <div class="header-control__btn-delete-center">&#x2715</div>
                    </button>
                    <button data-title='Сдать' id="header-control__btn-archive" tabindex="-1"
                            class="main__button--click hidden-input header-control__content-btn">
                        <div class="header-control__btn-archive-center">&#10004</div>
                    </button>
                </div>

                <div class="main__button--click main-header__button header-button__control header-control hidden-input">
                    <!--                    Управление-->
                </div>
                <svg class="spinner-loader hidden__input" xmlns="http://www.w3.org/2000/svg"
                     style="margin: auto; background: none; display: block; shape-rendering: auto;"
                     width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                    <path fill="none" stroke="rgba(70, 70, 70, 1)" stroke-width="8"
                          stroke-dasharray="42.76482137044271 42.76482137044271"
                          d="M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z"
                          stroke-linecap="round" style="transform:scale(0.8);transform-origin:50px 50px">
                        <animate attributeName="stroke-dashoffset" repeatCount="indefinite" dur="1s" keyTimes="0;1"
                                 values="0;256.58892822265625"></animate>
                    </path>
                </svg>
            </div>

            <div class="main-header__routes header-routes">
                <!--                <div class="main__button&#45;&#45;click main-header__button header-button__filters header-filters">-->
                <!--                    Фильтры-->
                <!--                    <div class="header-filters__content hidden-input">-->
                <!--                        <select tabindex="-1"-->
                <!--                                class="clickable header-routes__filter&#45;&#45;select header-routes__filter header-routes__filter-status main__button&#45;&#45;click"-->
                <!--                                name="chose-status">-->
                <!--                            <option selected value="">Статус</option>-->
                <!--                            <option value="started-#e06c00">В работе</option>-->
                <!--                            <option value="unstarted-#6b6666">Не в работе</option>-->
                <!--                            <option value="error-#d24242">Ошибка</option>-->
                <!--                            <option value="paused-#51a5e3">Пауза</option>-->
                <!--                            <option value="completed-#00821d">Сдал</option>-->
                <!--                        </select>-->
                <!--                        <select tabindex="-1"-->
                <!--                                class="clickable header-routes__filter&#45;&#45;select header-routes__filter header-routes__alert main__button&#45;&#45;click"-->
                <!--                                name="chose-color">-->
                <!--                            <option selected value="">Внимание!</option>-->
                <!--                            <option style="color: red" value="red">Красный</option>-->
                <!--                            <option style="color: blue;" value="blue">Синий</option>-->
                <!--                            <option style="color: #e5e516" value="#e5e516">Желтый</option>-->
                <!--                        </select>-->
                <!--                        <button tabindex="-1" class="main__button&#45;&#45;click header-routes__filter header-routes__planned">В-->
                <!--                            плане-->
                <!--                        </button>-->
                <!--                        <input tabindex="-1" type="date"-->
                <!--                               class="main__button&#45;&#45;click header-routes__filter header-routes__planned-date">-->
                <!--                    </div>-->
                <!--                </div>-->
                <button tabindex="-1" class="main-header__button nav-control__search-btn main__button--click">
                    <svg class="loupe" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                         enable-background="new 0 0 512 512">
                        <g>
                            <g>
                                <path d="m304.7,10.9c-108.5,0-196.4,87.9-196.4,196.4 0,46.9 16.4,89.9 43.8,123.7l-135,135c-8,8-8,20.9 0,28.9 8,8 20.9,8 28.9,0l135-135c33.8,27.4 76.8,43.8 123.7,43.8 108.5,0 196.4-87.9 196.4-196.4s-88-196.4-196.4-196.4zm0,352c-85.9,0-155.6-69.7-155.6-155.6 0-85.9 69.7-155.6 155.6-155.6 85.9,0 155.6,69.7 155.6,155.6 5.68434e-14,85.9-69.7,155.6-155.6,155.6z"/>
                            </g>
                        </g>
                    </svg>
                </button>
                <button tabindex="-1" class="main-header__button hidden-input nav-control__filter-btn main__button--click">
                    <svg class="filter_ico" version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                         preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
                            <path d="M2060 4783 c-46 -186 -86 -345 -91 -355 -5 -9 -32 -24 -61 -34 -29
                        -9 -97 -36 -150 -59 l-97 -43 -304 183 -305 183 -295 -297 -295 -296 183 -303
                        183 -303 -43 -97 c-23 -53 -50 -121 -61 -150 -10 -30 -25 -57 -34 -62 -8 -4
                        -167 -45 -352 -90 l-338 -82 0 -418 0 -418 338 -82 c185 -45 344 -86 354 -91
                        9 -5 24 -32 34 -61 9 -29 36 -97 59 -150 l43 -97 -183 -303 -183 -303 295
                        -296 295 -297 305 183 304 183 97 -43 c53 -23 121 -50 150 -59 29 -10 56 -25
                        61 -34 5 -10 45 -169 91 -355 l82 -337 418 0 418 0 82 337 c46 186 86 345 91
                        354 5 9 20 20 35 23 14 4 82 31 150 60 l124 53 304 -182 304 -183 295 297 295
                        296 -183 303 -183 303 43 97 c23 53 50 121 59 150 10 29 25 56 34 61 10 4 169
                        45 355 90 l337 83 0 418 0 418 -337 83 c-186 45 -345 86 -355 90 -9 5 -24 32
                        -34 61 -9 29 -36 97 -59 150 l-43 97 183 303 183 303 -295 296 -295 297 -304
                        -183 -304 -182 -124 53 c-68 29 -136 56 -150 60 -15 3 -30 14 -35 23 -5 9 -45
                        168 -91 354 l-82 337 -418 0 -418 0 -82 -337z m763 -290 l78 -321 36 -7 c107
                        -20 325 -106 444 -175 37 -22 73 -40 79 -40 7 0 136 75 288 166 l276 165 128
                        -129 129 -128 -165 -276 c-91 -152 -166 -281 -166 -287 0 -7 18 -43 39 -81 75
                        -131 156 -337 176 -443 l7 -35 321 -79 322 -78 0 -185 0 -185 -320 -78 -320
                        -78 -27 -97 c-30 -112 -98 -275 -157 -379 -23 -40 -41 -77 -41 -84 0 -6 75
                        -135 166 -287 l165 -276 -129 -128 -128 -129 -276 165 c-152 91 -281 166 -287
                        166 -7 0 -46 -20 -89 -44 -128 -72 -329 -151 -435 -171 l-36 -7 -78 -321 -79
                        -322 -184 0 -184 0 -79 322 -78 321 -36 7 c-101 19 -317 104 -442 175 -39 22
                        -75 40 -82 40 -6 0 -135 -75 -287 -166 l-276 -165 -128 129 -129 128 165 276
                        c91 152 166 281 166 287 0 7 -20 46 -44 89 -72 128 -151 329 -171 435 l-7 36
                        -322 79 -321 78 0 184 0 184 321 78 322 79 7 36 c20 107 106 325 175 444 22
                        37 40 73 40 79 0 7 -75 136 -166 288 l-165 276 129 128 128 129 276 -165 c152
                        -91 281 -166 287 -166 7 0 43 18 82 40 125 71 341 156 442 175 l36 7 77 316
                        c42 175 79 320 81 325 2 4 86 6 186 5 l181 -3 79 -322z"/>
                            <path d="M2420 3904 c-322 -40 -591 -171 -815 -398 -199 -201 -313 -415 -372
                        -696 -24 -118 -24 -382 0 -500 59 -281 174 -496 372 -696 201 -203 421 -322
                        705 -381 117 -24 380 -24 502 0 270 54 494 174 694 372 202 199 322 421 381
                        705 24 118 24 382 0 500 -39 185 -110 356 -212 510 -63 95 -258 291 -351 352
                        -161 107 -335 180 -506 213 -81 16 -328 28 -398 19z m380 -322 c198 -52 365
                        -146 501 -281 135 -135 226 -297 282 -501 29 -109 29 -371 0 -480 -56 -204
                        -147 -366 -282 -501 -135 -135 -297 -226 -501 -282 -109 -29 -371 -29 -480 0
                        -204 56 -366 147 -501 282 -386 387 -411 1000 -57 1421 153 182 404 323 638
                        359 98 15 311 6 400 -17z"/>
                            <path d="M2405 3293 c-343 -73 -595 -384 -595 -733 0 -351 255 -662 602 -734
                        246 -51 499 26 677 207 138 140 205 289 218 487 27 425 -325 794 -754 789 -43
                        0 -109 -7 -148 -16z m247 -294 c87 -18 158 -58 223 -123 258 -259 118 -696
                        -244 -758 -141 -24 -281 22 -386 127 -178 177 -178 454 -1 630 111 111 258
                        155 408 124z"/>
                        </g>
                    </svg>
                </button>
                <div class="routes-block">
                    <button tabindex="-1"
                            class="hidden-input main__button--click header-routes__filter header-routes__work">В
                        работе
                    </button>
                    <button tabindex="-1"
                            class="hidden-input main__button--click header-routes__filter header-routes__unwork">Не в
                        работе
                    </button>
                    <button tabindex="-1"
                            class="hidden-input main__button--click header-routes__filter header-routes__error">
                        Ошибка
                    </button>
                    <button tabindex="-1"
                            class="hidden-input main__button--click header-routes__filter header-routes__completed">
                        Сдал
                    </button>
                    <!--                    <select tabindex="-1"-->
                    <!--                            class="clickable header-routes__filter--select header-routes__filter header-routes__filter-status main__button--click"-->
                    <!--                            name="chose-status">-->
                    <!--                        <option selected value="">Статус</option>-->
                    <!--                        <option style="color: red" value="header-routes__work">В работе</option>-->
                    <!--                        <option style="color: blue;" value="header-routes__unwork">Не в работе</option>-->
                    <!--                        <option style="color: #e5e516" value="header-routes__error">Ошибка</option>-->
                    <!--                        <option style="color: #e5e516" value="header-routes__completed">Сдал</option>-->
                    <!--                    </select>-->

                    <div tabindex="-1" class="main__button--click header-routes__filter route-status">
                        <div class="route-status-text">Статус</div>
                        <div class="route-status__content">
                            <div class="route-status__btn route-status__btn--default">
                                Статус
                                <div class="hidden-input route-status__btn--value"></div>
                                <div class="hidden-input route-status__btn--text">Статус</div>
                            </div>
                            <div style="color: #e06c00" class="route-status__btn">
                                В работе
                                <div class="hidden-input route-status__btn--value">started-#e06c00</div>
                                <div class="hidden-input route-status__btn--text">В работе</div>
                            </div>
                            <div style="color: #6b6666" class="route-status__btn">
                                Не в работе
                                <div class="hidden-input route-status__btn--value">unstarted-#6b6666</div>
                                <div class="hidden-input route-status__btn--text">Не в работе</div>
                            </div>
                            <div style="color: #d24242" class="route-status__btn">
                                Ошибка
                                <div class="hidden-input route-status__btn--value">error-#d24242</div>
                                <div class="hidden-input route-status__btn--text">Ошибка</div>
                            </div>
                            <div style="color: #51a5e3" class="route-status__btn">
                                Пауза
                                <div class="hidden-input route-status__btn--value">paused-#51a5e3</div>
                                <div class="hidden-input route-status__btn--text">Пауза</div>
                            </div>
                            <div style="color: #00821d" class="route-status__btn">
                                Сдал
                                <div class="hidden-input route-status__btn--value">completed-#00821d</div>
                                <div class="hidden-input route-status__btn--text">Сдал</div>
                            </div>
                            <div style="color: #43000a24" class="route-status__btn">
                                Не выполнено
                                <div class="hidden-input route-status__btn--value">uncompleted-#43000a24</div>
                                <div class="hidden-input route-status__btn--text">Не выполнено</div>
                            </div>
                        </div>
                    </div>

                    <div tabindex="-1" class=" main__button--click header-routes__filter route-warning">
                        <div class="route-warning-text">Внимание!</div>
                        <div class="route-warning__content">
                            <div class="route-warning__btn route-warning__btn--default">
                                Внимание!
                                <div class="hidden-input route-warning__btn--value"></div>
                                <div class="hidden-input route-warning__btn--text">Внимание!</div>
                            </div>
                            <div style="color: red" class="route-warning__btn">
                                Красный
                                <div class="hidden-input route-warning__btn--value">red</div>
                                <div class="hidden-input route-warning__btn--text">Красный</div>
                            </div>
                            <div style="color: blue" class="route-warning__btn">
                                Синий
                                <div class="hidden-input route-warning__btn--value">blue</div>
                                <div class="hidden-input route-warning__btn--text">Синий</div>
                            </div>
                            <div style="color: #e5e516" class="route-warning__btn">
                                Жёлтый
                                <div class="hidden-input route-warning__btn--value">#e5e516</div>
                                <div class="hidden-input route-warning__btn--text">Жёлтый</div>
                            </div>
                        </div>
                    </div>

                    <select tabindex="-1"
                            class="clickable hidden-input header-routes__filter--select header-routes__filter header-routes__filter-status main__button--click"
                            name="chose-status">
                        <option selected value="">Статус</option>
                        <option value="started-#e06c00">В работе</option>
                        <option value="unstarted-#6b6666">Не в работе</option>
                        <option value="error-#d24242">Ошибка</option>
                        <option value="paused-#51a5e3">Пауза</option>
                        <option value="completed-#00821d">Сдал</option>
                        <option value="uncompleted-#43000a24">Не выполнено</option>
                    </select>
                    <select tabindex="-1"
                            class="clickable hidden-input header-routes__filter--select header-routes__filter header-routes__alert main__button--click"
                            name="chose-color">
                        <option selected value="">Внимание!</option>
                        <option style="color: red" value="red">Красный</option>
                        <option style="color: blue;" value="blue">Синий</option>
                        <option style="color: #e5e516" value="#e5e516">Жёлтый</option>
                    </select>

                    <div class="route-plan__block">
                        <button tabindex="-1" class="main__button--click header-routes__filter header-routes__planned">В
                            плане
                        </button>
                        <input tabindex="-1" type="date"
                               class="main__button--click header-routes__filter header-routes__planned-date">
                    </div>

                </div>

                <div class="archive-block">
                    <button tabindex="-1" class="main__button--click header-routes__filter header-routes__archived">В
                        архиве
                    </button>
                    <label class="planned__label">От</label>
                    <input tabindex="-1" type="date"
                           class="main__button--click header-routes__filter header-routes__planned-date__from"
                           name="archive_from">
                    <label class="planned__label">До</label>
                    <input tabindex="-1" type="date"
                           class="main__button--click header-routes__filter header-routes__planned-date__to"
                           name="archive_to">
                </div>
            </div>
        </header>

        <div class="main-table__data">
            <ul class="main-table__header">
                <li class="table__cell table__cell--top table__db">№</li>
                <li class="table__cell table__cell--top table__timestamp">
                    <label for="timestamp">Вход</label>
                    <input tabindex="-1" class="hidden__input filter__type" value="timestamp" type="text">
                    <select tabindex="-1" class="table__filter main__button--select main__select hidden__input"
                            name="все"
                            id="timestamp">
                        <option value="все">Все</option>
                    </select>
                </li>
                <li class="table__cell table__cell--top table__files">
                    <svg data-v-fa445770="" xmlns="http://www.w3.org/2000/svg" class="files__ico h-5 w-5 mx-auto"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path data-v-fa445770="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
                    </svg>
                </li>
                <li class="table__cell table__cell--top table__use table__number">
                    <label for="numbers">№ заказа</label>
                    <input tabindex="-1" class="hidden__input filter__type" value="number" type="text">
                    <select tabindex="-1" class="table__filter main__button--select main__select hidden__input"
                            name="все"
                            id="numbers">
                        <option value="все">Все</option>
                    </select>
                </li>
                <!--                <li class="table__cell table__cell&#45;&#45;top table__sample">Шаблон</li>-->
                <li class="table__cell table__cell--top table__use table__client">
                    <label for="clients">Клиент</label>
                    <input tabindex="-1" class="hidden__input filter__type" value="client" type="text">
                    <select tabindex="-1" class="table__filter main__button--select main__select hidden__input"
                            name="clients"
                            id="clients">
                        <option value="все">Все</option>
                    </select>
                </li>
                <li class="table__cell table__cell--top table__use table__name">
                    <label for="name">Наименование</label>
                    <input tabindex="-1" class="hidden__input filter__type" value="name" type="text">
                    <select tabindex="-1" class="table__filter main__button--select main__select hidden__input"
                            name="name" id="name">
                        <option value="все">Все</option>
                    </select>
                </li>
                <li class="table__cell table__cell--top table__use table__material">
                    <label for="materials">Материалы</label>
                    <input tabindex="-1" class="hidden__input filter__type" value="material" type="text">
                    <select tabindex="-1" class="table__filter main__button--select main__select hidden__input"
                            name="materials"
                            id="materials">
                        <option value="все">Все</option>
                    </select>
                </li>
                <li class="table__cell table__cell--top table__quantity">
                    <label for="quantity">Тираж</label>
                    <input tabindex="-1" class="hidden__input filter__type" value="quantity" type="text">
                    <select tabindex="-1" class="table__filter main__button--select main__select hidden__input"
                            name="quantity"
                            id="quantity">
                        <option value="все">Все</option>
                    </select>
                </li>
                <li class="table__cell table__cell--top table__issued">
                    <label for="issued">Выдано</label>
                    <input tabindex="-1" class="hidden__input filter__type" value="issued" type="text">
                    <select tabindex="-1" class="table__filter main__button--select main__select hidden__input"
                            name="issued"
                            id="issued">
                        <option value="все">Все</option>
                    </select>
                </li>
                <li class="table__cell table__cell--top table__m">
                    <label for="m">М</label>
                    <input tabindex="-1" class="hidden__input filter__type" value="m" type="text">
                    <select tabindex="-1" class="table__filter main__button--select main__select hidden__input" name="m"
                            id="m">
                        <option value="все">Все</option>
                    </select>
                </li>
                <li class="table__cell table__cell--top table__endtime">
                    <label for="end_time">Дата сдачи</label>
                    <input tabindex="-1" class="hidden__input filter__type" value="end_time" type="text">
                    <select tabindex="-1" class="table__filter main__button--select main__select hidden__input"
                            name="end_time"
                            id="end_time">
                        <option value="все">Все</option>
                    </select>
                </li>
                <li class="table__cell table__cell--top table__routes">Маршруты</li>
                <!--                <li class="table__cell table__cell&#45;&#45;top table__p">П</li>-->
                <li class="table__cell table__cell--top table__comment--top">Коммент</li>
            </ul>

            <div class="main__table main-table">
            </div>
        </div>
    </main>
</div>


</body>
</html>